@import "tailwindcss";

@theme {
  /* Letter Spacing */
  --letter-spacing-small: 0.04rem;
  --letter-spacing-large: 0.08rem;

  /* Height */
  --navbar-height: 90px;

  /* Brand Colors */
  --color-brand-text: #e5f9fa;
  --color-brand-offwhite: #6b7280;
  --color-brand-offwhite-dark: #374151;
  --color-brand-offwhite-light: #9ca3af;
  --color-brand-destructive: #ef4444;
  --color-brand-destructive-dark: #b91c1c;
  --color-brand-destructive-light: #fa575f;
  --color-brand-background: #041518;
  --color-brand-primary: #89dfe9;
  --color-brand-primary-dark: #0f2d30;
  --color-brand-secondary: #4a1882;
  --color-brand-secondary-dark: #260e40;
  --color-brand-accent: #df4fd6;

  --tracking-small: var(--letter-spacing-small);
  --tracking-large: var(--letter-spacing-large);

  --height-navbar: var(--navbar-height);
  --height-full-navbar: calc(100svh - var(--navbar-height));
}
